:root {

  /* Fonts */
  --main-font: 'Inter', sans-serif;
  --second-font: 'Forum', sans-serif;

  /* Colors */
  --black: #000;
  --light-black: #0c0c0e;
  --accent: #bb945f;
  --white: #fff;
  --gray: #8e8e8e;
}